.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

/* todo form  */

.TodoForm-button {
  margin-left: 1em;
}

.Todo {
  display : flex;
}

.Todo-item {
  flex-grow: 2;
}

.TodoList {
  width: 30vw;
}

.margin-right {
  margin-right: 2em;
}